body {
	font-family: 'Inconsolata', monospace;
	font-size: 1.5em;
	padding: 0px;
	display: flex;
}

#plot-canvas {
	width: 100%;
	height: 80%;
}

/* two advance buttons and slide area take up 100% of horizontal space */

div#slide-area {
	width: 80vw;
	height: 45vw;
	flex: 1;
	flex-grow: 8;
}

a.advance-button {
	display: block;
	text-align: center;
	width:10vw;
	flex: 1;
	padding: 20vw 0px;
	text-decoration: inherit;
}

a.advance-button:hover {
	background: lightgray;
	color: orange;
}

div#slide-area ul {
	font-size: 1.5em;
}
div#slide-area h1 {
	width: 100%;
	padding-bottom: 0.2em;
	text-align: center;
	border-bottom: 0.05em dashed gray;
}
